body {
    background-color: #F1F1F1;
    color: #333;
    font-family: 'Roboto', sans-serif;    
}

.switch {
    padding-top: 6em;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    font-size: 24pt;
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn {
    font-size: 10pt;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .65s;
}

.fade-in-2 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}