.myNav {
    background-color: rgb(1, 51, 105);
    border-bottom: solid rgb(0, 36, 75) 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    font-family: 'Roboto', sans-serif;    
}

.navText a {
    color:white;
    font-size: 10pt;
    letter-spacing: 1px;
}

.navText {
    margin-bottom: 45px;
    
}

.navBtn {
    color: white;
}

.sidebar {
    /*background-color: rgb(0, 36, 75);*/
    background-color: #222;
    width: 12%;
    height: 100vh;
    padding-top: 85px;
    padding-left: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;*/
    position: fixed;
    top: 62;
    left: 0;
}

.sidebar .navText {
    margin-bottom: 25px;
}

.activeNav {
    text-decoration: underline;
}

a visited {
    text-decoration: none;
}


@media(max-width: 767px) {
    .sidebar{
        display: none;
    }
}

@media(min-width: 767px) {
    .navToggler {
        display:none;
    }
}
