body {
    color: #333;
}

#collab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 55%;
}

#spTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: red
}

ul h4 {
    color: red;
}

.intro h1 {
    justify-content: center
}



.sponsor {
    padding: 2em;
    background-color: rgba(211, 211, 211, 0.315)
}

.header {
    width: 100%;
}

#asanka-carousel {
    display: block;
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
}

.carousel-inner img {
    position: center;
    object-fit: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 400px;
}

body h3 {
    color: red; 
    margin-top: 3em;
    margin-bottom: 3em;
}

#changes {
    color: red;
}



#spIntro {
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
}

body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Montserrat', sans-serif;
}

.headshot {
    border-radius: 50%;
}

body h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    color: red;
}

.caption {
    background-color: black;
    /* text-shadow: 2px 2px black; */
}

.screenshot {
    box-shadow: rgba(46, 46, 46, 0.4) 0px 0px 25px;  
}

footer {
    margin-top: 4em;
    margin-bottom: 4em;
}

.section {
    padding-top: 7em;
    padding-bottom: 7em;
}

#project-section, .background {
    background-color: rgba(211, 211, 211, 0.315);
}

.background h2{
    color: #333;
}