#collab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 30%;
}

#spTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: red
}

.intro h1 {
    justify-content: center
}

.sponsor {
    padding: 2em;
    background-color: rgba(211, 211, 211, 0.315)
}

.header {
    width: 100%;
}

#asanka-carousel {
    display: block;
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
}

.carousel-inner img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.center-block img{
    height: 640px;
}

h3 {
    color: red; 
}

#project-section {
    padding-top: 2em;
    padding-bottom: 2em;  
    background-color: rgba(211, 211, 211, 0.315);
}